<h1>Editing user review comment</h1>

<%= render "form", user_review_comment: @user_review_comment %>

<br>

<div>
  <%= link_to "Show this user review comment", @user_review_comment %> |
  <%= link_to "Back to user review comments", user_review_comments_path %>
</div>
