<h1>Editing user review comment</h1>

<%= render "form", user_review_comment: @user_review_comment %>

<br>

<div>
  <%= link_to "Back to review", movie_review_path(@movie, @review), class: 'btn btn-outline-primary' %>
</div>
