<div id="<%= dom_id movie %>">
  <p>
    <strong>Name:</strong>
    <%= movie.name %>
  </p>

  <p>
    <strong>Released at:</strong>
    <%= movie.released_at %>
  </p>

  <% if movie.tags.present? %>
    <p>
      <strong>Tags:</strong>
      <% movie.tags.each do |tag| %>
        <span class="badge"><%= tag.name %></span>
      <% end %>
    </p>
  <% end %>
</div>
