<h1>Editing review</h1>

<%= render "form", review: @review %>

<br>
<%= link_to "Back to movie", movie_review_path(@movie), class: 'btn btn-outline-secondary' %>
<!--<div>-->
<!--  <%#= link_to "Show this review", @review %> |-->
  <%#= link_to "Back to reviews", reviews_path %>
<!--</div>-->
